.buttonone
{
    font-size: 14px;
    font-family: "roboto", sans-serif;
    font-weight: normal;
    color: white;
    border-top: 2px solid radial-gradient($color-primary, $color-secondary);
    border-bottom: 2px solid radial-gradient($color-primary, $color-secondary);
    border-right: 2px solid radial-gradient($color-primary, $color-secondary);
    border-left: 2px solid radial-gradient($color-primary, $color-secondary);
    border-radius: 30px;
    padding: 15px 15px 15px 15px;
    margin-bottom: 20px;
    background: linear-gradient(-10deg, lighten($color-primary, 5) 0%, darken($color-secondary, 10) 100%); 
}


/*menu à la francaise*/

.frbtn
{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: flex-end;
   width: 85%;
   border: 1px solid white;
   border-radius: 10px;
   background: white;
   padding: 10px;
   margin-bottom: 15px;
   box-shadow: 2px 2px 5px rgb(210 210 210);
   &__t1
   {
      margin-bottom: 2px;
   }

}

#fr
{
   padding-right: 25px;
   padding-left: 25px;
   margin-bottom: 30px;
   margin-top: 30px;
}