.buttonone
{
    font-size: 15px;
    font-family: "roboto2", sans-serif;
    font-weight: normal;
    color: white;
    border-radius: 30px;
    padding: 15px 30px 15px 30px;
    margin-bottom: 20px;
    margin-top: 10px;
    background: linear-gradient(-10deg, lighten($color-primary, 0) 0%, darken($color-secondary, 10) 100%);
    transition: all 450ms;
    box-shadow: 2px 2px 5px rgb(210 210 210);
    &:hover
    {
    background: linear-gradient(-10deg, lighten($color-primary, 10%) 0%, darken($color-secondary, 10) 100%);
    box-shadow: 10px 10px 20px rgb(210 210 210);
    }

   }
 