@mixin pc-only
{
    @media screen and (min-width:map-get($breakpoints,pc))
    {
        @content;
    }
}

@mixin tb-only
{
    @media screen and (min-width:map-get($breakpoints,tb))
    {
        @content;
    }
}
@mixin tb2-only
{
    @media screen and (min-width: map-get($breakpoints,tb2))
    {
        @content;
    }
}

@mixin col-cy
{
    
}