$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-quatuor: #F2F3F4;
$color-cinq: #F8F9F9;
$color-six: #D7DBDD;
$color-sept: #BDC3C7;
$color_huit: #4B4C4D;

$cd-bars: #15DEA5;
$cd-bars-inv: #0E397F;
$size: 3vh;
$anim-dur: 1000ms;
$num-bars: 5;
$anim-delay: $anim-dur / $num-bars;

$anim-dura: 1800ms;
$nb-frbtn: 9;

$breakpoints: (tb:740px, pc:990px, tb2:500px);