.foot
{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
    padding-left: 20px;
    background: $color_huit;
    color: white;
        &__li{
    margin-bottom: 10px;
        &__footxt1
        {
         margin-left: 8px;
        }
        &__footxt2
        {
        position: absolute;
        margin-left: 18px;
        }
    }
}