.logof
{
    padding-left: 20px;
    margin-top: 10px;
}
.foot
{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
    background: $color_huit;
    color: white;
        &__ul
    {
    display: flex;
    flex-direction: column;
    align-items: baseline; 
    padding-left: 20px;
    }
        &__li
    {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    margin-bottom: 10px;
    &__footxt
    {
        margin-left: 10px;
    }
    }
}

.foot a
{
    text-decoration: none;
    color: white;

    &:hover
    {
        color: $color-secondary;
    }
}