.conteneur2
{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20%;
    background-color: $color-cinq;
    z-index: -1;
    opacity: 0;
    animation: loading-conteneur 4s;
}
@keyframes loading-conteneur {
    0%
    {
        z-index: 9999;
        opacity: 1;
    }
    80%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
    
}
.conteneur2__title
{
  
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    
}
.load
{
    width: $size*10;
    height: $size*7.5;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
       &__bar
       {
           background-color: $cd-bars;
           height: 100%;
           width: $size;
           animation: bars $anim-dur backwards infinite ease-in-out alternate;
           @for $i from 1 through $num-bars
           {
            &--#{$i}{
                animation-delay: $anim-delay * $i;
            }
            &--#{$i}-inv
            {
                animation-delay: $anim-delay * $i + random(100)*15ms;
                animation-direction: alternate-reverse;
                animation-fill-mode: forwards;
                background-color: $cd-bars-inv;
                &:hover
                {
                    animation-play-state: paused;
                }
            }
           }
       }
}
.load__bar
{
    &:hover
    {
        animation-play-state: paused;
    }
}

@keyframes bars 
{
    0% 
    {
        transform: scaleY(0.5);
    }
    100%
    {
        transform: scaleY(1.0);
    }
}