.navbar
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
&__ul
{
width: calc( 90% - 30px );
margin-left: auto;
margin-right: auto;
padding-left: 0px;
@include tb-only
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
@include pc-only
{
   width: 100%;
}
}
&__li
{

list-style-type: none;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 15px;
background: $color-cinq;
box-shadow: 2px 2px 5px rgb(210 210 210);
width: 100%;
margin-bottom: 20px;
padding-top: 10px;
padding-bottom: 10px;

&:hover
{
    background-color: lighten($color-primary, 35%);
    .navbar__li__logo
    {
        color: $color-primary;
    }
}
    @include tb-only{
        width: 25%;
    }

    &__txt
    {
    text-decoration: none;
    color: black;
    font-size: 15px;
    margin-left: 30px;
    margin-right: 0px;
    }
    &__nb
    {
    margin-right: 30px;
    margin-left: -9px;
    font-size: 15px;
    border: 1px solid $color-primary;
    border-radius: 50%;
    padding-right: 4px;
    padding-left: 4px;
    background: $color-primary;
    color: white;
    }

}
}    
.titleb
{
    margin-left: 8%;
}



